In [2]:
import investpy
import pandas as pd

In [3]:
investingIds = pd.read_csv("../../Resources/InvestingIDs.csv")

In [56]:
investingIds[investingIds["isin"] == 'US0846707026'].head(100)

,country,name,full_name,tag,isin,id,currency,symbol
2945,mexico,Berkshire Hathaway B,Berkshire Hathaway Inc,berkshire-hathaway?cid=993727,US0846707026,993727,MXN,BRKB
3865,united states,Berkshire Hathaway B,Berkshire Hathaway B,berkshire-hathaway,US0846707026,13834,USD,BRKb
8339,austria,Berkshire Hathaway B,Berkshire Hathaway Inc,berkshire-hathaway?cid=1084254,US0846707026,1084254,EUR,BRKb
10820,germany,Berkshire Hathaway B,Berkshire Hathaway Inc B,berkshire-hathaway?cid=22128,US0846707026,22128,EUR,BRKb
15226,switzerland,Berkshire Hathaway B,Berkshire Hathaway Inc,berkshire-hathaway?cid=993371,US0846707026,993371,CHF,BRKb

In [67]:
from investiny import historical_data
import sqlalchemy
connectionString = "postgresql+psycopg2://root:password@postgres_db:5432/portfolio"
engine = sqlalchemy.create_engine(connectionString)
connection = engine.connect()

result = connection.execute("SELECT * from transaction")
fetchedResult = result.fetchall()
for i in fetchedResult:
    if(i["isin"] is not None):
        
        #print(i["isin"],investingIds[(investingIds["currency"]=="EUR") & (investingIds["isin"]==i["isin"])].head(1)[["name", "id" ]])
        try:

            id = investingIds[(investingIds["currency"]=="EUR") & (investingIds["isin"]==i["isin"])].head(1)[["id"]]
            print(f"this is the id: {id.iloc[0]['id']} for {i['isin']}")

            print(historical_data(investing_id=id.iloc[0]['id'], from_date="09/20/2022", to_date="09/25/2022")["close"][0])
                
        except:
            print(f"couldnt find id for {i['isin']}")

couldnt find id for IE00B5BMR087
this is the id: 1084254 for US0846707026
277.29998779297
couldnt find id for IE00B3YCGJ38
couldnt find id for IE0005042456
this is the id: 6284 for DE0005785604
23.89999961853
couldnt find id for DE0006577109
this is the id: 663 for DE0007164600
83.269996643066
couldnt find id for CH0012032048
this is the id: 1010925 for US2546871060
108.2200012207
this is the id: 1034495 for DE000A2DAM03
12.739999771118
this is the id: 345 for DE000BASF111
41.599998474121
this is the id: 1084254 for US0846707026
277.29998779297
this is the id: 652 for DE0005190003
75.069999694824
couldnt find id for DE000A0S9GB0
this is the id: 1052739 for DE000A161N30
21.680000305176
couldnt find id for CH0466642201
couldnt find id for IE00B42TW061
this is the id: 1010947 for US4592001014
126.05999755859
couldnt find id for US4642881829
couldnt find id for IE00B0M63623
couldnt find id for DE0005933931
couldnt find id for IE00B5BMR087
couldnt find id for IE00B42NKQ00
this is the id: 1052764 for DE0006335003
89.050003051758
couldnt find id for US50155Q1004
this is the id: 19858 for DE0006450000
8.1199998855591
this is the id: 19864 for DE000A0ETBQ4
90.599998474121
couldnt find id for US58463J3041
this is the id: 647 for FI0009000681
4.5999999046326
this is the id: 1122359 for CH0012005267
couldnt find id for CH0012005267
couldnt find id for US7960502018
this is the id: 663 for DE0007164600
83.269996643066
this is the id: 19906 for DE0007231334
54.099998474121
couldnt find id for US78463V1070
couldnt find id for US86887Q1094
this is the id: 1011017 for US9311421039
133.30000305176
couldnt find id for US9344231041
couldnt find id for US2546871111
this is the id: 1084249 for US00206R1023
16.579999923706
this is the id: 1084249 for US00206R1023
16.579999923706
this is the id: 1084249 for US00206R1023
16.579999923706
this is the id: 1084249 for US00206R1023
16.579999923706
couldnt find id for 12345678
couldnt find id for 12345678
couldnt find id for 12345678
couldnt find id for 12345678
couldnt find id for 12345678
couldnt find id for 12345678

In [84]:
investingId = 13302
historical_data(investingId, from_date="9/01/2022", to_date="10/07/2022")

{'open': [8043,
  7818,
  7776,
  7548,
  7550.5,
  7957,
  8090.5,
  8127,
  8050,
  7991.5,
  7990,
  8150,
  8100,
  8232,
  8230.5,
  8000,
  7609.5,
  7745.5,
  7855,
  7976,
  7881.5],
 'high': [8050,
  7970,
  7794.5,
  7595,
  7629,
  8045.5,
  8181,
  8127,
  8100,
  8175,
  8190,
  8334.5,
  8144.5,
  8359.5,
  8360,
  8000,
  7721.5,
  7840,
  8150,
  8025.5,
  8100],
 'low': [7817,
  7800,
  7700,
  7500,
  7472.5,
  7954,
  8052,
  7900,
  7950,
  7920,
  7990,
  8128.5,
  7910,
  8175.5,
  8218,
  7510.5,
  7439,
  7646,
  7855,
  7871.5,
  7840],
 'close': [7818,
  7800,
  7700,
  7527,
  7610,
  8011.5,
  8127,
  7918,
  8023.5,
  8130,
  8190,
  8325,
  8144.5,
  8175.5,
  8360,
  7555.5,
  7507,
  7800,
  8150,
  7935,
  7855]}